.About {
  display: flex;

  background-color: #faf3e6;

  position: relative;
  justify-content: center;
  align-items: center;

  margin: auto;

  height: 100vh;
  width: 100%;

  .About__Contents {
    display: flex;
    padding: 10px;
    gap: 20px;

    .About_Image {
      box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px,
        rgba(0, 0, 0, 0.3) 0px 7px 13px -3px,
        rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border-radius: 50%;

        display: flex;
        margin: auto;
    }

    .About__Box {
      display: flex;
      flex-direction: column;

      margin: auto;

      padding: 10px;
      gap: 20px;

      width: 320px;

      .About_Text {
        color: black;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 400;

        margin: auto;
        text-align: right;
      }

      .About__Button {
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;

        margin: auto;
        margin-right: 0px;

        padding: 10px;
        outline: none;
        cursor: pointer;

        transition: 0.5s;


        color: white;
        font-family: sans-serif;
        font-size: 20px;
        font-weight: 400;
      }
    }
  }
}
